$primary-color: #fff;
$secondary-color: #28a745;
$hover-secondary: #218838;
$quiz-button-color: #ffc107;
$quiz-button-hover: #e0a800;
$course-button-color: #007bff;
$course-button-hover: #0056b3;
$background-gradient: linear-gradient(to right bottom, rgba(25, 34, 74, 0.5) 0%, rgba(34, 46, 97, 0.5) 25%, rgba(35, 52, 106, 0.5) 65%, rgba(20, 102, 147, 0.5) 90%, rgba(8, 140, 178, 0.5) 100%);
