@charset "UTF-8";
@import url(font-awesome.min.css);
@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400|Passion+One:400");
/* line 3, scss/_leaderboard.scss */
#leaderboard {
  background-color: #fff;
  padding: 2rem;
  margin-top: 5rem;
  text-align: center; }
  /* line 9, scss/_leaderboard.scss */
  #leaderboard .leaderboard-table {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-top: 2rem; }
  /* line 16, scss/_leaderboard.scss */
  #leaderboard .leaderboard-row {
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    border-bottom: .1rem solid #ccc; }

/* line 1, scss/_learn.scss */
.container {
  margin-top: 2rem;
  display: flex;
  width: 400vw;
  transition: transform 0.6s cubic-bezier(0.82, 0, 0.18, 1);
  overflow-x: hidden;
  box-shadow: 0 2rem 3rem rgba(0, 0, 0, 0.8); }
  /* line 8, scss/_learn.scss */
  .container .page {
    width: 100vw;
    height: 85vh;
    align-items: center;
    justify-content: center;
    font-size: 1rem;
    color: white; }

/* line 17, scss/_learn.scss */
.page1 {
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  gap: 1rem; }

/* line 24, scss/_learn.scss */
.page1 img {
  width: 50%;
  height: auto;
  /* Maintains aspect ratio */
  object-fit: cover;
  /* Ensures images cover their space */ }

/* line 31, scss/_learn.scss */
.page2 .slide2-container {
  max-width: 85rem;
  margin: 10rem auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 5rem; }

/* line 40, scss/_learn.scss */
.page2 .card {
  position: relative;
  margin: 1rem 0;
  width: 22vw;
  height: 50vh;
  background: #fff;
  transform-style: preserve-3d;
  transform: perspective(200rem);
  transition: 1s;
  box-shadow: inset 10rem 0 5rem rgba(0, 0, 0, 0.5); }

/* line 53, scss/_learn.scss */
.page2 .card:hover {
  z-index: 1111;
  transform: perspective(200rem) rotate(-10deg);
  box-shadow: inset 2rem 0 5rem rgba(0, 0, 0, 0.5); }

/* line 59, scss/_learn.scss */
.page2 .card .img-container {
  position: relative;
  width: 100%;
  height: 100%;
  border: 1px solid #000;
  box-sizing: border-box;
  transform-origin: left;
  z-index: 1;
  transition: 1s; }

/* line 70, scss/_learn.scss */
.page2 .card .img-container img {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  object-fit: cover; }

/* line 79, scss/_learn.scss */
.page2 .card:hover .img-container {
  transform: rotateY(-135deg); }

/* line 83, scss/_learn.scss */
.page2 .card .card-details {
  position: absolute;
  left: 0;
  top: 0;
  box-sizing: border-box;
  padding: 2rem;
  color: #000; }

/* line 92, scss/_learn.scss */
.page2 .card .card-details h2 {
  margin: 0;
  padding: 0.5em 0;
  text-transform: uppercase;
  font-size: 2em;
  color: #ed363a; }

/* line 100, scss/_learn.scss */
.page2 .card .card-details p {
  margin: 0;
  padding: 0;
  line-height: 2.5rem;
  font-size: 1.1em; }

/* line 107, scss/_learn.scss */
.page3 {
  background-image: linear-gradient(to right bottom, rgba(25, 34, 74, 0.5) 0%, rgba(34, 46, 97, 0.5) 25%, rgba(35, 52, 106, 0.5) 65%, rgba(20, 102, 147, 0.5) 90%, rgba(8, 140, 178, 0.5) 100%); }
  /* line 110, scss/_learn.scss */
  .page3 .thumbnails .box {
    transition: all 0.3s;
    box-shadow: 0 2rem 3rem rgba(0, 0, 0, 0.8); }
  /* line 115, scss/_learn.scss */
  .page3 .thumbnails .box:hover {
    transform: translateY(-1rem); }
  /* line 118, scss/_learn.scss */
  .page3 .video-title {
    text-align: center;
    margin-bottom: 3rem;
    background-image: linear-gradient(-225deg, #5bbfed 10%, #dc45ed 67%, #fff800 100%);
    background-size: 200% auto;
    color: #fff;
    background-clip: text;
    text-fill-color: transparent;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: textclip 2.5s linear infinite; }

/* line 142, scss/_learn.scss */
.page4 .title {
  text-align: center; }

/* line 146, scss/_learn.scss */
.page4 .title h1 {
  font-size: 50px;
  font-family: 'Exo', sans-serif; }

/* line 150, scss/_learn.scss */
.page4 .mitigation-cards {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5rem; }

/* line 156, scss/_learn.scss */
.page4 .card1 {
  text-align: center;
  width: 20rem;
  height: 35rem;
  margin-top: 10px;
  margin-bottom: 10px;
  background: linear-gradient(#e1963a, #e3905b);
  transition: all .6s;
  -webkit-transform-style: preserve-3d;
  box-shadow: 0px 20px 60px rgba(0, 0, 0, 0.5); }

/* line 169, scss/_learn.scss */
.page4 .card1:hover {
  transform: rotatex(0deg);
  transform: rotatez(0deg);
  transition: .6s;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.3); }

/* line 175, scss/_learn.scss */
.page4 .card1 img {
  transform: translateY(15px);
  width: 10rem;
  height: 12rem; }

/* line 180, scss/_learn.scss */
.page4 h3 {
  font-size: 25px;
  font-family: 'Abel', sans-serif;
  color: white;
  text-shadow: 0 0 2px white;
  transform: translatey(10px);
  margin: 1rem 0; }

/* line 189, scss/_learn.scss */
.page4 p {
  margin: 2.5rem 0;
  font-size: 1.3rem;
  font-family: 'Abel', sans-serif;
  color: white;
  text-align: center;
  width: 220px;
  transform: translatex(12px); }

/* line 200, scss/_learn.scss */
.page4 .card2 {
  text-align: center;
  left: 550px;
  width: 20rem;
  height: 35rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  background: linear-gradient(#5d5eaa, #5d4267);
  animation: animate 1s linear infinite;
  transition: .6s;
  -webkit-transform-style: preserve-3d;
  box-shadow: 0px 20px 60px rgba(0, 0, 0, 0.5); }

/* line 216, scss/_learn.scss */
.page4 .card2:hover {
  transform: rotatex(0deg);
  transition: .6s;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.3); }

/* line 221, scss/_learn.scss */
.page4 .card2 img {
  transform: translateY(15px);
  width: 180px;
  height: 150px; }

/* line 226, scss/_learn.scss */
.page4 .card3 {
  text-align: center;
  left: 1000px;
  width: 20rem;
  height: 35rem;
  margin-top: 10px;
  margin-bottom: 10px;
  background: linear-gradient(#ff5252, #b33939);
  transition: all .6s;
  -webkit-transform-style: preserve-3d;
  box-shadow: 0px 20px 60px rgba(0, 0, 0, 0.5); }

/* line 241, scss/_learn.scss */
.page4 .card3:hover {
  transform: rotatex(0deg);
  transition: .6s;
  box-shadow: 0px 0px 2rem rgba(0, 0, 0, 0.3); }

/* line 246, scss/_learn.scss */
.page4 .card3 img {
  transform: translateY(15px);
  width: 200px;
  height: 120px; }

/* line 252, scss/_learn.scss */
.page4 .card4 {
  text-align: center;
  left: 100rem;
  width: 20rem;
  height: 35rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  background: linear-gradient(#ff5252, #b33939);
  transition: all .6s;
  -webkit-transform-style: preserve-3d;
  box-shadow: 0px 2rem 6rem rgba(0, 0, 0, 0.5); }

/* line 267, scss/_learn.scss */
.page4 .card4:hover {
  transform: rotatex(0deg);
  transition: .6s;
  box-shadow: 0px 0px 2rem rgba(0, 0, 0, 0.3); }

/* line 272, scss/_learn.scss */
.page4 .card4 img {
  transform: translateY(15px);
  width: 200px;
  height: 120px; }

/* line 277, scss/_learn.scss */
.page4 .footer {
  position: absolute;
  top: 500px;
  margin: 10px;
  width: 100%;
  text-align: center; }

/* line 284, scss/_learn.scss */
.page4 .footer h2 {
  font-size: 18px;
  font-family: 'Exo', sans-serif; }

/* line 291, scss/_learn.scss */
.animate-card-title {
  background-image: linear-gradient(-225deg, #5bbfed 10%, #dc45ed 67%, #fff800 100%);
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: #fff;
  background-clip: text;
  text-fill-color: transparent;
  -webkit-background-clip: text;
  animation: textclip 2.5s linear infinite;
  text-align: center;
  margin: 5rem 0 -6rem 0;
  background-clip: text;
  text-fill-color: transparent;
  -webkit-text-fill-color: transparent; }

/* line 313, scss/_learn.scss */
.nav {
  position: fixed;
  bottom: 5rem;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 1rem; }
  /* line 320, scss/_learn.scss */
  .nav a {
    text-decoration: none;
    padding: 1rem 2rem;
    background: rgba(0, 0, 0, 0.7);
    color: white;
    border-radius: .5rem;
    transition: all 0.3s; }
    /* line 328, scss/_learn.scss */
    .nav a:hover {
      background: rgba(0, 0, 0, 0.9); }

/* line 334, scss/_learn.scss */
.disabled {
  pointer-events: none;
  opacity: 0.5;
  cursor: not-allowed; }

/* line 340, scss/_learn.scss */
.knowledge-ai {
  text-align: center;
  font-size: 1.5rem; }
  /* line 344, scss/_learn.scss */
  .knowledge-ai a:link, .knowledge-ai a:visited {
    color: yellow;
    text-decoration: underline; }
    /* line 347, scss/_learn.scss */
    .knowledge-ai a:link:hover, .knowledge-ai a:visited:hover {
      color: white; }

/* line 2, scss/_quiz.scss */
body {
  overflow: hidden !important; }

/* line 6, scss/_quiz.scss */
header {
  background: linear-gradient(to right bottom, rgba(25, 34, 74, 0.5) 0%, rgba(34, 46, 97, 0.5) 25%, rgba(35, 52, 106, 0.5) 65%, rgba(20, 102, 147, 0.5) 90%, rgba(8, 140, 178, 0.5) 100%);
  color: #fff;
  padding: 1rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 100; }
  /* line 14, scss/_quiz.scss */
  header .logo {
    font-size: 1.8em;
    font-weight: bold; }
  /* line 19, scss/_quiz.scss */
  header nav a {
    color: #fff;
    text-decoration: none;
    margin: 0 1.5rem;
    transition: color 0.3s ease; }
    /* line 25, scss/_quiz.scss */
    header nav a:hover {
      color: #f4f4f4; }

/* line 34, scss/_quiz.scss */
.quiz-all-section {
  margin-top: 3rem; }

/* line 38, scss/_quiz.scss */
#section-1 {
  padding-top: 2.5rem; }

/* line 41, scss/_quiz.scss */
.baseSection {
  padding-top: 10rem; }

/* line 45, scss/_quiz.scss */
main {
  background: #2a2f43;
  border-radius: 10px;
  padding: 1.5rem 2rem 2rem;
  max-width: 40rem;
  margin: 0 auto 21.4rem;
  position: relative;
  box-shadow: 0 2rem 3rem rgba(0, 0, 0, 0.8); }
  /* line 55, scss/_quiz.scss */
  main::after, main::before {
    content: '';
    position: absolute;
    width: 100.5%;
    height: 100.5%;
    background-image: conic-gradient(from var(--angle), #ffffff, #e74ac8, blue, yellow);
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    z-index: -1;
    padding: .3rem;
    border-radius: 1rem;
    animation: 3s spin linear infinite; }
  /* line 69, scss/_quiz.scss */
  main::before {
    filter: blur(1.5rem);
    opacity: 0.5; }

@keyframes spin {
  from {
    --angle: 0deg; }
  to {
    --angle: 360deg; } }

/* line 83, scss/_quiz.scss */
.text-container {
  text-align: center; }

/* line 87, scss/_quiz.scss */
.quiz-options {
  margin: 60px 0; }

/* line 91, scss/_quiz.scss */
[type=radio] {
  border: 0;
  height: 0.0625rem;
  width: 0.0625rem;
  position: absolute; }

/* line 98, scss/_quiz.scss */
label {
  display: flex;
  align-items: center;
  border-radius: 5px;
  background: #47476b;
  margin-bottom: 15px;
  padding: 6px 0;
  position: relative;
  width: 100%;
  color: #000;
  padding-left: 0 !important; }

/* line 112, scss/_quiz.scss */
label:hover .alphabet {
  background: #000;
  color: #fff; }

/* line 117, scss/_quiz.scss */
label .alphabet {
  border-radius: 5px;
  border: solid 1px #fff;
  padding: .4rem .5rem .4rem;
  width: 2.3rem;
  margin: 0 1.3rem 0 .7rem;
  display: flex;
  justify-content: center;
  color: #000;
  background: #fff;
  font-weight: bold; }

/* line 130, scss/_quiz.scss */
label .icon {
  height: auto;
  position: absolute;
  left: 92%;
  top: 12px;
  visibility: hidden; }

/* line 138, scss/_quiz.scss */
label .wrongIcon {
  width: 18px; }

/* line 142, scss/_quiz.scss */
label .rightIcon {
  width: 22px; }

/* line 146, scss/_quiz.scss */
.correctChoice:checked + label {
  background: #4cf5c2;
  color: #000000; }

/* line 151, scss/_quiz.scss */
.wrongChoice:checked + label {
  background: #d12020;
  color: #f7f6f6; }

/* line 156, scss/_quiz.scss */
.correctChoice:checked + label .icon {
  visibility: visible; }

/* line 161, scss/_quiz.scss */
.wrongChoice:checked + label .icon {
  visibility: visible; }

/* line 165, scss/_quiz.scss */
.correctChoice:checked + label .alphabet {
  background: #000000;
  color: #FFF; }

/* line 170, scss/_quiz.scss */
.wrongChoice:checked + label .alphabet {
  background: #000;
  color: #fff; }

/* line 175, scss/_quiz.scss */
.one-a:valid + label,
.two-c:valid + label,
.three-c:valid + label,
.four-b:valid + label,
.five-a:valid + label {
  animation: flash 0.6s 1;
  animation-fill-mode: forwards; }

@keyframes flash {
  0% {
    background-color: #4cf5c2;
    color: #000000; }
  49% {
    background-color: #4cf5c2;
    color: #000000; }
  50% {
    background-color: #000;
    color: #000000; }
  99% {
    background-color: #000;
    color: #000000; }
  100% {
    background-color: #4cf5c2;
    color: #000000; } }

/* line 211, scss/_quiz.scss */
input:invalid + label {
  background: #fff; }

/* line 215, scss/_quiz.scss */
input:invalid + label:hover {
  background: #f4f4f4;
  color: #000 !important; }

/* line 221, scss/_quiz.scss */
input:valid + label {
  color: #fff;
  pointer-events: none; }

/* line 226, scss/_quiz.scss */
input[type="checkbox"] + label, input[type="radio"] + label {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.75);
  cursor: pointer;
  display: inline-block;
  font-size: 1em;
  font-weight: 300;
  padding-left: 2.4em;
  padding-right: 0.75em;
  position: relative;
  display: flex !important;
  background: #383854; }

/* line 242, scss/_quiz.scss */
input[type="checkbox"] + label, input[type="radio"] + label::before {
  opacity: 0 !important; }

/* line 245, scss/_quiz.scss */
#btn {
  border: 1px solid #000;
  border-radius: 50px;
  background: #f7cece;
  color: #000;
  display: block;
  font-size: 1.1rem;
  font-weight: 600;
  width: 57%;
  margin: 0 auto;
  outline: none;
  padding: 11px 0;
  text-align: center;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent; }

/* line 262, scss/_quiz.scss */
#btn:hover {
  background: rgba(255, 255, 255, 0.671);
  color: rgba(0, 0, 0, 0.749);
  border: 1px solid #000; }

/* line 268, scss/_quiz.scss */
form:invalid #btn {
  pointer-events: none;
  background: rgba(216, 89, 230, 0.767);
  color: #fff; }

/* line 274, scss/_quiz.scss */
.btn:hover {
  background: #000;
  color: #fff; }

/* line 279, scss/_quiz.scss */
.score-counter {
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: start;
  font-weight: bold;
  width: 210px;
  background: rgba(0, 0, 0, 0.749);
  border: 4px solid #000;
  position: fixed;
  top: 17%;
  right: 18%;
  box-shadow: inset 2px -2px 9px #020202, inset -2px 2px 9px #d2d2d2;
  width: 12rem;
  height: 3rem; }

/* line 296, scss/_quiz.scss */
.score-text {
  margin: 0 20px; }

/* line 311, scss/_quiz.scss */
.exp {
  background: rgba(255, 255, 255, 0.05);
  padding: 1.5rem;
  border-radius: 12px;
  margin-top: 0.5rem;
  animation: slideUp 0.5s ease-out;
  margin-bottom: 4rem;
  color: #afe2fa;
  display: none; }

/* line 333, scss/_quiz.scss */
.h3-margin {
  margin-bottom: 0.2rem; }

/* line 350, scss/_quiz.scss */
#game-over {
  background: linear-gradient(#1c1631, rgba(18, 18, 25, 0.9)), repeating-linear-gradient(0, transparent, transparent 2px, black 3px, black 3px);
  font-family: 'Bungee', cursive;
  /* position: absolute; */
  width: 100%;
  height: 100vh; }

/* line 358, scss/_quiz.scss */
.game-over-content {
  display: grid;
  justify-items: center;
  width: 80%;
  margin: 0 auto;
  padding: 120px 0; }

/* line 366, scss/_quiz.scss */
#game-over h1 {
  background: url("https://res.cloudinary.com/dvhndpbun/image/upload/e_brightness:-20/v1588605696/01-01_web_designers_code_ld_img_dgytil.png");
  -webkit-background-clip: text;
  color: transparent;
  background-size: contain;
  font-size: 5rem;
  line-height: 1.2;
  margin: 0;
  position: relative; }

/* line 377, scss/_quiz.scss */
h1::before {
  content: attr(data-heading);
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  background: linear-gradient(45deg, rgba(255, 255, 255, 0) 45%, rgba(255, 255, 255, 0.8) 50%, rgba(255, 255, 255, 0) 55%, rgba(255, 255, 255, 0) 100%);
  -webkit-background-clip: text;
  color: transparent;
  mix-blend-mode: screen;
  animation: shine 1s infinite;
  background-size: 200%;
  text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2), -2px 2px 10px rgba(0, 0, 0, 0.2), -2px -2px 10px rgba(0, 0, 0, 0.2); }

@keyframes pulse {
  0% {
    opacity: 1; }
  49% {
    opacity: 9; }
  50% {
    opacity: .8; }
  99% {
    opacity: .5; }
  100% {
    opacity: .3; } }

@keyframes shine {
  0% {
    background-position: -100%; }
  100% {
    background-position: 100%; } }

/* line 424, scss/_quiz.scss */
.over-text-cont {
  text-align: center; }

/* line 428, scss/_quiz.scss */
.over-text-cont h2 {
  font-family: 'Sirin Stencil', cursive; }

/* line 437, scss/_quiz.scss */
#refresh {
  color: #fff;
  position: relative;
  height: 100vh; }

/* line 443, scss/_quiz.scss */
.refresh-content {
  display: grid;
  font-size: 1.2rem;
  place-items: center;
  width: 70%;
  line-height: 2;
  margin: 0 auto;
  text-align: center; }

/* line 453, scss/_quiz.scss */
.refresh-content svg {
  width: 50px;
  height: auto;
  animation: pulse 1s infinite; }

/* MEDIA QUERY */
@media (max-width: 420px) {
  /* line 463, scss/_quiz.scss */
  body {
    font-size: .8rem; }
  /* line 467, scss/_quiz.scss */
  main {
    width: 92%; }
  /* line 471, scss/_quiz.scss */
  section {
    background: linear-gradient(to right, #3f2b96, #1f0961); }
  /* line 475, scss/_quiz.scss */
  label {
    font-size: .71rem; }
  /* line 479, scss/_quiz.scss */
  label .alphabet {
    margin: 0 .9rem 0 .7rem; }
  /* line 483, scss/_quiz.scss */
  .correctChoice:checked + label {
    -webkit-text-stroke: .1px #fff; }
  /* line 487, scss/_quiz.scss */
  label .rightIcon {
    width: 16px; }
  /* line 491, scss/_quiz.scss */
  label .wrongIcon {
    width: 14px; }
  /* line 495, scss/_quiz.scss */
  #game-over h1 {
    font-size: 3rem; }
  /* line 499, scss/_quiz.scss */
  .score-counter {
    width: 120px;
    height: 5%;
    font-size: .7rem; }
  /* line 505, scss/_quiz.scss */
  .score-text {
    margin: 0 20px 0 0; }
  /* line 509, scss/_quiz.scss */
  .over-text-cont h2 {
    margin-bottom: 40px; }
  /* line 513, scss/_quiz.scss */
  .over-text-cont #btn {
    padding: 3px 0; }
  /* line 517, scss/_quiz.scss */
  .refresh-content {
    width: 90%; }
  /* line 521, scss/_quiz.scss */
  .refresh-content {
    display: grid;
    font-size: .8rem; } }

@media (max-width: 325px) {
  /* line 529, scss/_quiz.scss */
  label {
    font-size: .63rem; }
  /* line 533, scss/_quiz.scss */
  label .alphabet {
    margin: 0 .55rem 0 .7rem; }
  /* line 537, scss/_quiz.scss */
  label .rightIcon {
    width: 14px; }
  /* line 541, scss/_quiz.scss */
  label .wrongIcon {
    width: 12px; } }

/* line 4, scss/_video.scss */
table {
  border-collapse: collapse;
  border-spacing: 0; }

@-ms-viewport {
  width: device-width; }

/* line 12, scss/_video.scss */
a {
  text-decoration: none;
  outline: 0; }

/* line 17, scss/_video.scss */
a:hover {
  color: #FFF;
  border: none; }

/* line 22, scss/_video.scss */
strong, b {
  color: #fff;
  font-weight: 400; }

/* line 27, scss/_video.scss */
em, i {
  font-style: italic; }

/* line 31, scss/_video.scss */
p {
  margin: 0 0 2em 0; }

/* line 35, scss/_video.scss */
code {
  background: rgba(144, 144, 144, 0.075);
  border-radius: 4px;
  border: solid 1px rgba(144, 144, 144, 0.25);
  font-family: "Courier New", monospace;
  font-size: 0.9em;
  margin: 0 0.25em;
  padding: 0.25em 0.65em; }

/* line 45, scss/_video.scss */
pre {
  -webkit-overflow-scrolling: touch;
  font-family: "Courier New", monospace;
  font-size: 0.9em;
  margin: 0 0 2em 0; }

/* line 52, scss/_video.scss */
pre code {
  display: block;
  line-height: 1.75;
  padding: 1em 1.5em;
  overflow-x: auto; }

/* line 59, scss/_video.scss */
.align-left {
  text-align: left; }

/* line 63, scss/_video.scss */
.align-center {
  text-align: center; }

/* line 67, scss/_video.scss */
.align-right {
  text-align: right; }

/* Section/Article */
/* line 73, scss/_video.scss */
section.special, article.special {
  text-align: center; }

/* line 77, scss/_video.scss */
header p {
  color: rgba(255, 255, 255, 0.5);
  position: relative;
  margin: 0 0 1.5em 0; }

/* line 83, scss/_video.scss */
header h2 + p {
  font-size: 1.25em;
  margin-top: -1em; }

/* line 88, scss/_video.scss */
header h3 + p {
  font-size: 1.1em;
  margin-top: -0.8em; }

/* line 93, scss/_video.scss */
header h4 + p,
header h5 + p,
header h6 + p {
  font-size: 0.9em;
  margin-top: -0.6em; }

/* Box */
/* line 102, scss/_video.scss */
.thumbnails {
  display: -moz-flex;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -moz-align-items: stretch;
  -webkit-align-items: stretch;
  -ms-align-items: stretch;
  align-items: stretch;
  -moz-justify-content: center;
  -webkit-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  -moz-flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }

/* line 121, scss/_video.scss */
.thumbnails .box {
  margin: 0 1em 2em 1em;
  width: 30%; }

@media screen and (max-width: 1280px) {
  /* line 128, scss/_video.scss */
  .thumbnails .box {
    width: 45%; } }

@media screen and (max-width: 736px) {
  /* line 136, scss/_video.scss */
  .thumbnails .box {
    width: 100%; } }

/* Form */
/* line 144, scss/_video.scss */
form {
  margin: 0 0 2em 0; }

/* line 148, scss/_video.scss */
label {
  color: #fff;
  display: block;
  font-size: 0.9em;
  font-weight: 400;
  margin: 0 0 1em 0; }

/* line 156, scss/_video.scss */
input[type="text"],
input[type="password"],
input[type="email"],
input[type="tel"],
select,
textarea {
  -moz-appearance: none;
  -webkit-appearance: none;
  -ms-appearance: none;
  appearance: none;
  background: rgba(144, 144, 144, 0.075);
  border-radius: 4px;
  border: none;
  border: solid 1px rgba(144, 144, 144, 0.25);
  color: inherit;
  display: block;
  outline: 0;
  padding: 0 1em;
  text-decoration: none;
  width: 100%; }

/* line 178, scss/_video.scss */
input[type="text"]:invalid,
input[type="password"]:invalid,
input[type="email"]:invalid,
input[type="tel"]:invalid,
select:invalid,
textarea:invalid {
  box-shadow: none; }

/* line 187, scss/_video.scss */
input[type="text"]:focus,
input[type="password"]:focus,
input[type="email"]:focus,
input[type="tel"]:focus,
select:focus,
textarea:focus {
  border-color: #ff8686;
  box-shadow: 0 0 0 1px #ff8686; }

/* line 197, scss/_video.scss */
.select-wrapper {
  text-decoration: none;
  display: block;
  position: relative; }

/* line 203, scss/_video.scss */
.select-wrapper:before {
  content: "";
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  text-transform: none !important; }

/* line 213, scss/_video.scss */
.select-wrapper:before {
  color: rgba(144, 144, 144, 0.25);
  display: block;
  height: 2.75em;
  line-height: 2.75em;
  pointer-events: none;
  position: absolute;
  right: 0;
  text-align: center;
  top: 0;
  width: 2.75em; }

/* line 226, scss/_video.scss */
.select-wrapper select::-ms-expand {
  display: none; }

/* line 230, scss/_video.scss */
input[type="text"],
input[type="password"],
input[type="email"],
select {
  height: 2.75em; }

/* line 237, scss/_video.scss */
textarea {
  padding: 0.75em 1em; }

/* line 241, scss/_video.scss */
input[type="checkbox"],
input[type="radio"] {
  -moz-appearance: none;
  -webkit-appearance: none;
  -ms-appearance: none;
  appearance: none;
  display: block;
  float: left;
  margin-right: -2em;
  opacity: 0;
  width: 1em;
  z-index: -1; }

/* line 255, scss/_video.scss */
input[type="checkbox"] + label,
input[type="radio"] + label {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.75);
  cursor: pointer;
  display: inline-block;
  font-size: 1em;
  font-weight: 300;
  padding-left: 2.4em;
  padding-right: 0.75em;
  position: relative; }

/* line 268, scss/_video.scss */
input[type="checkbox"] + label:before,
input[type="radio"] + label:before {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  text-transform: none !important; }

/* line 278, scss/_video.scss */
input[type="checkbox"] + label:before,
input[type="radio"] + label:before {
  background: rgba(144, 144, 144, 0.075);
  border-radius: 4px;
  border: solid 1px rgba(144, 144, 144, 0.25);
  content: '';
  display: inline-block;
  height: 1.65em;
  left: 0;
  line-height: 1.58125em;
  position: absolute;
  text-align: center;
  top: 0;
  width: 1.65em; }

/* line 294, scss/_video.scss */
input[type="checkbox"]:checked + label:before,
input[type="radio"]:checked + label:before {
  background: #ff8686;
  border-color: #ff8686;
  color: #ffffff;
  content: '\f00c'; }

/* line 302, scss/_video.scss */
input[type="checkbox"]:focus + label:before,
input[type="radio"]:focus + label:before {
  border-color: #ff8686;
  box-shadow: 0 0 0 1px #ff8686; }

/* line 308, scss/_video.scss */
input[type="checkbox"] + label:before {
  border-radius: 4px; }

/* line 312, scss/_video.scss */
input[type="radio"] + label:before {
  border-radius: 100%; }

/* line 316, scss/_video.scss */
::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.5) !important;
  opacity: 1.0; }

/* line 321, scss/_video.scss */
:-moz-placeholder {
  color: rgba(255, 255, 255, 0.5) !important;
  opacity: 1.0; }

/* line 326, scss/_video.scss */
::-moz-placeholder {
  color: rgba(255, 255, 255, 0.5) !important;
  opacity: 1.0; }

/* line 331, scss/_video.scss */
:-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.5) !important;
  opacity: 1.0; }

/* line 336, scss/_video.scss */
.formerize-placeholder {
  color: rgba(255, 255, 255, 0.5) !important;
  opacity: 1.0; }

/* Box */
/* line 343, scss/_video.scss */
.box {
  border-radius: 4px;
  margin-bottom: 2em;
  background: #2c2c32;
  text-align: center; }

/* line 350, scss/_video.scss */
.box > :last-child,
.box > :last-child > :last-child,
.box > :last-child > :last-child > :last-child {
  margin-bottom: 0; }

/* line 356, scss/_video.scss */
.box .image.fit {
  margin: 0; }

/* line 360, scss/_video.scss */
.box .image img {
  border-radius: 4px 4px 0 0; }

/* line 364, scss/_video.scss */
.box .inner {
  padding: 1.5em;
  width: 100% !important; }

@media screen and (max-width: 480px) {
  /* line 371, scss/_video.scss */
  .box .inner {
    padding: 1em; } }

/* line 377, scss/_video.scss */
.box.alt {
  border: 0;
  border-radius: 0;
  padding: 0; }

/* Icon */
/* line 385, scss/_video.scss */
.icon {
  text-decoration: none;
  border-bottom: none;
  position: relative; }

/* line 391, scss/_video.scss */
.icon:before {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  text-transform: none !important; }

/* line 400, scss/_video.scss */
.icon > .label {
  display: none; }

/* Image */
/* line 406, scss/_video.scss */
.image {
  border-radius: 4px;
  border: 0;
  display: inline-block;
  position: relative; }

/* line 413, scss/_video.scss */
.image img {
  border-radius: 4px;
  display: block; }

/* line 418, scss/_video.scss */
.image.left, .image.right {
  max-width: 40%; }

/* line 422, scss/_video.scss */
.image.left img, .image.right img {
  width: 100%; }

/* line 426, scss/_video.scss */
.image.left {
  float: left;
  padding: 0 1.5em 1em 0;
  top: 0.25em; }

/* line 432, scss/_video.scss */
.image.right {
  float: right;
  padding: 0 0 1em 1.5em;
  top: 0.25em; }

/* line 438, scss/_video.scss */
.image.fit {
  display: block;
  margin: 0 0 2em 0;
  width: 100%; }

/* line 444, scss/_video.scss */
.image.fit img {
  width: 100%; }

/* line 448, scss/_video.scss */
.image.main {
  display: block;
  margin: 0 0 3em 0;
  width: 100%; }

/* line 454, scss/_video.scss */
.image.main img {
  width: 100%; }

/* List */
/* line 460, scss/_video.scss */
ol {
  list-style: decimal;
  margin: 0 0 2em 0;
  padding-left: 1.25em; }

/* line 466, scss/_video.scss */
ol li {
  padding-left: 0.25em; }

/* line 470, scss/_video.scss */
ul {
  list-style: disc;
  margin: 0 0 2em 0;
  padding-left: 1em; }

/* line 476, scss/_video.scss */
ul li {
  padding-left: 0.5em; }

/* line 480, scss/_video.scss */
ul.alt {
  list-style: none;
  padding-left: 0; }

/* line 485, scss/_video.scss */
ul.alt li {
  border-top: solid 1px rgba(144, 144, 144, 0.25);
  padding: 0.5em 0; }

/* line 490, scss/_video.scss */
ul.alt li:first-child {
  border-top: 0;
  padding-top: 0; }

/* line 495, scss/_video.scss */
ul.icons {
  cursor: default;
  list-style: none;
  padding-left: 0; }

/* line 501, scss/_video.scss */
ul.icons li {
  display: inline-block;
  text-align: center;
  padding-left: 0;
  padding-right: 1em; }

/* line 508, scss/_video.scss */
ul.icons li a {
  display: block;
  border-radius: 100%;
  margin: 0;
  padding: 0.5em;
  border: solid 1px rgba(144, 144, 144, 0.25);
  color: rgba(144, 144, 144, 0.25); }

/* line 517, scss/_video.scss */
ul.icons li a:before {
  font-size: 1.5em;
  display: block;
  width: 1.5em;
  height: 1.5em;
  line-height: 1.5em; }

/* line 525, scss/_video.scss */
ul.icons li a:hover {
  background-color: #202024;
  color: #FFF; }

/* line 530, scss/_video.scss */
ul.icons li:last-child {
  padding-right: 0; }

/* line 534, scss/_video.scss */
ul.actions {
  cursor: default;
  list-style: none;
  padding-left: 0; }

/* line 540, scss/_video.scss */
ul.actions li {
  display: inline-block;
  padding: 0 1em 0 0;
  vertical-align: middle; }

/* line 546, scss/_video.scss */
ul.actions li:last-child {
  padding-right: 0; }

/* line 550, scss/_video.scss */
ul.actions.small li {
  padding: 0 0.5em 0 0; }

/* line 554, scss/_video.scss */
ul.actions.vertical li {
  display: block;
  padding: 1em 0 0 0; }

/* line 559, scss/_video.scss */
ul.actions.vertical li:first-child {
  padding-top: 0; }

/* line 563, scss/_video.scss */
ul.actions.vertical li > * {
  margin-bottom: 0; }

/* line 567, scss/_video.scss */
ul.actions.vertical.small li {
  padding: 0.5em 0 0 0; }

/* line 571, scss/_video.scss */
ul.actions.vertical.small li:first-child {
  padding-top: 0; }

/* line 575, scss/_video.scss */
ul.actions.fit {
  display: table;
  margin-left: -1em;
  padding: 0;
  table-layout: fixed;
  width: calc(100% + 1em); }

/* line 583, scss/_video.scss */
ul.actions.fit li {
  display: table-cell;
  padding: 0 0 0 1em; }

/* line 588, scss/_video.scss */
ul.actions.fit li > * {
  margin-bottom: 0; }

/* line 592, scss/_video.scss */
ul.actions.fit.small {
  margin-left: -0.5em;
  width: calc(100% + 0.5em); }

/* line 597, scss/_video.scss */
ul.actions.fit.small li {
  padding: 0 0 0 0.5em; }

@media screen and (max-width: 480px) {
  /* line 603, scss/_video.scss */
  ul.actions {
    margin: 0 0 2em 0; }
  /* line 607, scss/_video.scss */
  ul.actions li {
    padding: 1em 0 0 0;
    display: block;
    text-align: center;
    width: 100%; }
  /* line 614, scss/_video.scss */
  ul.actions li:first-child {
    padding-top: 0; }
  /* line 618, scss/_video.scss */
  ul.actions li > * {
    width: 100%;
    margin: 0 !important; }
  /* line 623, scss/_video.scss */
  ul.actions li > *.icon:before {
    margin-left: -2em; }
  /* line 627, scss/_video.scss */
  ul.actions.small li {
    padding: 0.5em 0 0 0; }
  /* line 631, scss/_video.scss */
  ul.actions.small li:first-child {
    padding-top: 0; } }

/* line 637, scss/_video.scss */
dl {
  margin: 0 0 2em 0; }

/* line 641, scss/_video.scss */
dl dt {
  display: block;
  font-weight: 400;
  margin: 0 0 1em 0; }

/* line 647, scss/_video.scss */
dl dd {
  margin-left: 2em; }

/* Table */
/* line 653, scss/_video.scss */
.table-wrapper {
  -webkit-overflow-scrolling: touch;
  overflow-x: auto; }

/* line 658, scss/_video.scss */
table {
  margin: 0 0 2em 0;
  width: 100%; }

/* line 663, scss/_video.scss */
table tbody tr {
  border: solid 1px rgba(144, 144, 144, 0.25);
  border-left: 0;
  border-right: 0; }

/* line 669, scss/_video.scss */
table tbody tr:nth-child(2n + 1) {
  background-color: rgba(144, 144, 144, 0.075); }

/* line 673, scss/_video.scss */
table td {
  padding: 0.75em 0.75em; }

/* line 677, scss/_video.scss */
table th {
  color: #fff;
  font-size: 0.9em;
  font-weight: 400;
  padding: 0 0.75em 0.75em 0.75em;
  text-align: left; }

/* line 685, scss/_video.scss */
table thead {
  border-bottom: solid 2px rgba(144, 144, 144, 0.25); }

/* line 689, scss/_video.scss */
table tfoot {
  border-top: solid 2px rgba(144, 144, 144, 0.25); }

/* line 693, scss/_video.scss */
table.alt {
  border-collapse: separate; }

/* line 697, scss/_video.scss */
table.alt tbody tr td {
  border: solid 1px rgba(144, 144, 144, 0.25);
  border-left-width: 0;
  border-top-width: 0; }

/* line 703, scss/_video.scss */
table.alt tbody tr td:first-child {
  border-left-width: 1px; }

/* line 707, scss/_video.scss */
table.alt tbody tr:first-child td {
  border-top-width: 1px; }

/* line 711, scss/_video.scss */
table.alt thead {
  border-bottom: 0; }

/* line 715, scss/_video.scss */
table.alt tfoot {
  border-top: 0; }

/* Button */
/* line 721, scss/_video.scss */
input[type="submit"],
input[type="reset"],
input[type="button"],
button,
.button {
  -moz-appearance: none;
  -webkit-appearance: none;
  -ms-appearance: none;
  appearance: none;
  -moz-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
  -webkit-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
  -ms-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
  transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
  background-color: #70c7be;
  border-radius: 4px;
  border: 0;
  color: #ffffff !important;
  cursor: pointer;
  display: inline-block;
  font-weight: 400;
  height: 2.85em;
  line-height: 2.95em;
  padding: 0 1.5em;
  text-align: center;
  text-decoration: none;
  white-space: nowrap; }

/* line 749, scss/_video.scss */
input[type="submit"]:hover,
input[type="reset"]:hover,
input[type="button"]:hover,
button:hover,
.button:hover {
  background-color: #82cec6; }

/* line 757, scss/_video.scss */
input[type="submit"]:active,
input[type="reset"]:active,
input[type="button"]:active,
button:active,
.button:active {
  background-color: #5ec0b6; }

/* line 765, scss/_video.scss */
input[type="submit"].icon,
input[type="reset"].icon,
input[type="button"].icon,
button.icon,
.button.icon {
  padding-left: 1.35em; }

/* line 773, scss/_video.scss */
input[type="submit"].icon:before,
input[type="reset"].icon:before,
input[type="button"].icon:before,
button.icon:before,
.button.icon:before {
  margin-right: 0.5em; }

/* line 781, scss/_video.scss */
input[type="submit"].fit,
input[type="reset"].fit,
input[type="button"].fit,
button.fit,
.button.fit {
  display: block;
  margin: 0 0 1em 0;
  width: 100%; }

/* line 791, scss/_video.scss */
input[type="submit"].small,
input[type="reset"].small,
input[type="button"].small,
button.small,
.button.small {
  font-size: 0.8em; }

/* line 799, scss/_video.scss */
input[type="submit"].big,
input[type="reset"].big,
input[type="button"].big,
button.big,
.button.big {
  font-size: 1.35em; }

/* line 807, scss/_video.scss */
input[type="submit"].disabled, input[type="submit"]:disabled,
input[type="reset"].disabled,
input[type="reset"]:disabled,
input[type="button"].disabled,
input[type="button"]:disabled,
button.disabled,
button:disabled,
.button.disabled,
.button:disabled {
  background-color: rgba(255, 255, 255, 0.75) !important;
  box-shadow: inset 0 -0.15em 0 0 rgba(0, 0, 0, 0.15);
  color: #202024 !important;
  cursor: default;
  opacity: 0.25; }

/* line 823, scss/_video.scss */
input[type="submit"].style2,
input[type="reset"].style2,
input[type="button"].style2,
button.style2,
.button.style2 {
  background-color: #7f92cf; }

/* line 831, scss/_video.scss */
input[type="submit"].style2:hover,
input[type="reset"].style2:hover,
input[type="button"].style2:hover,
button.style2:hover,
.button.style2:hover {
  background-color: #92a2d6; }

/* line 839, scss/_video.scss */
input[type="submit"].style2:active,
input[type="reset"].style2:active,
input[type="button"].style2:active,
button.style2:active,
.button.style2:active {
  background-color: #6c82c8; }

/* line 847, scss/_video.scss */
input[type="submit"].style3,
input[type="reset"].style3,
input[type="button"].style3,
button.style3,
.button.style3 {
  background-color: #9d7ed0; }

/* line 855, scss/_video.scss */
input[type="submit"].style3:hover,
input[type="reset"].style3:hover,
input[type="button"].style3:hover,
button.style3:hover,
.button.style3:hover {
  background-color: #ab91d7; }

/* line 863, scss/_video.scss */
input[type="submit"].style3:active,
input[type="reset"].style3:active,
input[type="button"].style3:active,
button.style3:active,
.button.style3:active {
  background-color: #8f6bc9; }

@media screen and (max-width: 480px) {
  /* line 873, scss/_video.scss */
  input[type="submit"],
  input[type="reset"],
  input[type="button"],
  button,
  .button {
    padding: 0; } }

/* Poptrox */
/* line 885, scss/_video.scss */
.poptrox-popup {
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  -ms-box-sizing: content-box;
  box-sizing: content-box;
  background: #000;
  box-shadow: 0 0.5em 3em 0 rgba(0, 0, 0, 0.25);
  border-radius: 4px;
  padding: 2em;
  overflow: hidden; }

/* line 897, scss/_video.scss */
.poptrox-popup .closer {
  -moz-transition: opacity 0.2s ease-in-out;
  -webkit-transition: opacity 0.2s ease-in-out;
  -ms-transition: opacity 0.2s ease-in-out;
  transition: opacity 0.2s ease-in-out;
  text-decoration: none;
  position: absolute;
  top: .5em;
  right: .5em;
  z-index: 11000;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  white-space: nowrap;
  text-indent: 2em;
  overflow: hidden;
  width: 2em;
  height: 2em;
  display: block; }

/* line 916, scss/_video.scss */
.poptrox-popup .closer:before {
  content: "\f00d";
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  text-transform: none !important;
  display: block;
  position: relative;
  text-indent: 0;
  border-radius: 100%;
  box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.25);
  color: #ffffff !important;
  width: 2em;
  height: 2em;
  line-height: 2em; }

/* line 935, scss/_video.scss */
.poptrox-popup:hover .closer {
  opacity: 0.5; }

/* line 939, scss/_video.scss */
.poptrox-popup:hover .closer:hover {
  opacity: 1.0; }

@media screen and (max-width: 736px) {
  /* line 945, scss/_video.scss */
  .poptrox-popup {
    padding: 0; }
  /* line 949, scss/_video.scss */
  .poptrox-popup .closer {
    display: none !important; } }

/* Banner */
/* line 957, scss/_video.scss */
#banner {
  -moz-align-items: center;
  -webkit-align-items: center;
  -ms-align-items: center;
  align-items: center;
  display: -moz-flex;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -moz-justify-content: center;
  -webkit-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  padding: 8em 4em 6em 4em;
  min-height: 70vh;
  background-image: url("../../images/banner.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border-top: 0;
  position: relative;
  text-align: center;
  overflow: hidden; }

/* line 982, scss/_video.scss */
#banner .inner {
  text-align: center;
  position: relative;
  z-index: 2; }

/* line 988, scss/_video.scss */
#banner h1 {
  color: #fff;
  font-size: 5em;
  font-weight: 400;
  font-family: 'Passion One', cursive;
  margin: 0; }

@media screen and (max-width: 980px) {
  /* line 998, scss/_video.scss */
  #banner h1 {
    font-size: 5em; } }

@media screen and (max-width: 736px) {
  /* line 1006, scss/_video.scss */
  #banner h1 {
    font-size: 3em; } }

/* line 1012, scss/_video.scss */
#banner p {
  color: rgba(255, 255, 255, 0.85);
  font-size: 1.5em;
  font-weight: 300; }

@media screen and (max-width: 980px) {
  /* line 1020, scss/_video.scss */
  #banner p {
    font-size: 1.5em; } }

@media screen and (max-width: 480px) {
  /* line 1028, scss/_video.scss */
  #banner p {
    font-size: 1.25em; } }

/* line 1034, scss/_video.scss */
#banner a {
  color: rgba(255, 255, 255, 0.75);
  text-decoration: none;
  border-bottom: 1px dotted; }

/* line 1040, scss/_video.scss */
#banner a:hover {
  color: #FFF;
  border: none; }

/* line 1045, scss/_video.scss */
#banner .more {
  background-image: url("images/arrow.svg");
  background-position: center 1.35em;
  background-repeat: no-repeat;
  background-size: auto;
  border: 1px solid #fff;
  border-radius: 100%;
  color: rgba(255, 255, 255, 0.75);
  display: block;
  height: 4em;
  text-indent: 4em;
  overflow: hidden;
  white-space: nowrap;
  width: 4em;
  z-index: 2;
  margin: 0 auto 2em auto; }

/* line 1063, scss/_video.scss */
#banner .more:hover {
  background-color: rgba(255, 255, 255, 0.05);
  border: 1px solid #fff;
  color: #FFF; }

/* line 1069, scss/_video.scss */
#banner video {
  -moz-transform: translateX(50%) translateY(50%);
  -webkit-transform: translateX(50%) translateY(50%);
  -ms-transform: translateX(50%) translateY(50%);
  transform: translateX(50%) translateY(50%);
  position: absolute;
  bottom: 50%;
  right: 50%;
  width: auto;
  height: auto;
  min-width: 100%;
  min-height: 100%;
  overflow: hidden; }

/* line 1084, scss/_video.scss */
#banner:before {
  -moz-transition: opacity 3s ease;
  -webkit-transition: opacity 3s ease;
  -ms-transition: opacity 3s ease;
  transition: opacity 3s ease;
  -moz-transition-delay: 1s;
  -webkit-transition-delay: 1s;
  -ms-transition-delay: 1s;
  transition-delay: 1s;
  content: '';
  background-color: #42424f;
  display: block;
  height: 100%;
  left: 0;
  opacity: 0.45;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 1; }

@media screen and (max-width: 1280px) {
  /* line 1107, scss/_video.scss */
  #banner video {
    display: none; } }

@media screen and (max-width: 980px) {
  /* line 1115, scss/_video.scss */
  #banner br {
    display: none; } }

@media screen and (max-width: 736px) {
  /* line 1123, scss/_video.scss */
  #banner {
    min-height: 0;
    padding: 6em 2em 4em 2em; }
  /* line 1128, scss/_video.scss */
  #banner br {
    display: none; } }

/* line 1134, scss/_video.scss */
body.is-loading #banner:before {
  opacity: 1; }

/* Main */
/* line 1140, scss/_video.scss */
#main {
  padding: 4em 0 2em 0; }

@media screen and (max-width: 736px) {
  /* line 1146, scss/_video.scss */
  #main {
    padding: 3em 0 1em 0; } }

/* line 1152, scss/_video.scss */
#main .inner {
  width: 90%;
  max-width: 80em;
  margin: 0 auto; }

@media screen and (max-width: 480px) {
  /* line 1160, scss/_video.scss */
  #main .inner {
    width: 95%; } }

/* Footer */
/* line 1168, scss/_video.scss */
#footer {
  padding: 4em 0 2em 0;
  background-color: #1b1b1f;
  text-align: center; }

/* line 1174, scss/_video.scss */
#footer .inner {
  width: 50%;
  margin: 0 auto; }

@media screen and (max-width: 980px) {
  /* line 1181, scss/_video.scss */
  #footer .inner {
    width: 75%; } }

@media screen and (max-width: 480px) {
  /* line 1189, scss/_video.scss */
  #footer .inner {
    width: 90%; } }

/* line 1195, scss/_video.scss */
#footer .copyright {
  color: rgba(255, 255, 255, 0.5);
  font-size: 0.9em;
  margin: 0 0 2em 0;
  padding: 0;
  text-align: center; }

@media screen and (max-width: 736px) {
  /* line 1205, scss/_video.scss */
  #footer {
    padding: 3em 0 1em 0; } }

/* line 7, scss/main.scss */
*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

/* line 13, scss/main.scss */
::selection {
  background-color: rgba(25, 34, 74, 0.5);
  color: orangered; }

/* line 18, scss/main.scss */
html {
  font-size: 85%; }
  @media screen and (max-width: 50em) {
    /* line 18, scss/main.scss */
    html {
      font-size: 60%; } }

/* line 26, scss/main.scss */
body {
  font-family: 'Arial', sans-serif;
  background: linear-gradient(61deg, #090e2c 0%, #122c69 59%, #078db3 100%);
  background-position: top;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  line-height: 1.5;
  box-sizing: border-box;
  min-height: 100vh;
  max-width: 100vw; }
  @media screen and (max-width: 50em) {
    /* line 26, scss/main.scss */
    body {
      overflow-y: scroll !important; } }

@property --angle {
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false; }

/* line 49, scss/main.scss */
header {
  background: linear-gradient(to right bottom, rgba(25, 34, 74, 0.5) 0%, rgba(34, 46, 97, 0.5) 25%, rgba(35, 52, 106, 0.5) 65%, rgba(20, 102, 147, 0.5) 90%, rgba(8, 140, 178, 0.5) 100%);
  color: #fff;
  padding: 1rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 5rem; }
  /* line 58, scss/main.scss */
  header .company-logo {
    flex-basis: 15%; }
  /* line 62, scss/main.scss */
  header .logo {
    font-size: 1.8em;
    font-weight: bold; }
  /* line 67, scss/main.scss */
  header nav a {
    color: #fff;
    text-decoration: none;
    margin: 0 1.5rem;
    transition: color 0.3s ease;
    font-weight: bold;
    font-size: 1.2rem; }
    /* line 75, scss/main.scss */
    header nav a:hover {
      color: #f4f4f4; }

/* line 81, scss/main.scss */
#intro {
  text-align: center;
  margin: 5rem 0; }
  /* line 85, scss/main.scss */
  #intro h1 {
    font-size: 3em;
    margin-bottom: 0.5rem;
    background: linear-gradient(to right, #4cf5c2, #0089ff);
    background-clip: text;
    color: transparent;
    transition: transform 0.2s;
    letter-spacing: 0.2rem;
    display: inline-block; }
    /* line 94, scss/main.scss */
    #intro h1:hover {
      transform: skewY(0.5deg) scale(1.3); }
  /* line 99, scss/main.scss */
  #intro p {
    font-size: 1.2em;
    margin-bottom: 2rem; }

/* line 105, scss/main.scss */
#start-button {
  padding: 1rem 2rem;
  background-color: #28a745;
  color: white;
  border: none;
  font-size: 1em;
  cursor: pointer;
  border-radius: .5rem;
  transition: background-color 0.3s; }
  /* line 115, scss/main.scss */
  #start-button:hover {
    background-color: #218838; }

/* line 120, scss/main.scss */
#courses {
  text-align: center;
  margin: 3rem 0;
  justify-content: center; }

/* line 126, scss/main.scss */
.topic-cards {
  display: flex;
  gap: 3rem;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
  flex-wrap: wrap; }

/* line 136, scss/main.scss */
.topic-card {
  background: #2a2f43;
  background-size: cover;
  flex-basis: 20%;
  height: 35vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  background-repeat: no-repeat;
  border-radius: .8rem;
  padding: 2rem;
  width: 20rem;
  text-align: center;
  box-shadow: 0 0.4rem 0.8rem rgba(0, 0, 0, 0.1);
  position: relative;
  flex-wrap: wrap; }
  /* line 155, scss/main.scss */
  .topic-card:hover {
    transform: translateY(-1rem); }
  /* line 158, scss/main.scss */
  .topic-card:hover::after, .topic-card:hover::before {
    content: none; }
  /* line 162, scss/main.scss */
  .topic-card::after, .topic-card::before {
    content: '';
    position: absolute;
    height: 100%;
    width: 101%;
    background-image: conic-gradient(from var(--angle), #ab4141, #00ff99, #006aff, #ff0095, #ff4545);
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    z-index: -1;
    padding: 3px;
    border-radius: 10px;
    animation: 3s spin linear infinite; }
  /* line 176, scss/main.scss */
  .topic-card::before {
    filter: blur(1.5rem);
    opacity: 0.5; }

@keyframes spin {
  from {
    --angle: 0deg; }
  to {
    --angle: 360deg; } }
  /* line 189, scss/main.scss */
  .topic-card h3 {
    font-size: 1.5em;
    margin-bottom: 1rem; }

/* line 195, scss/main.scss */
.course-btn {
  background-color: #90e8cf !important;
  color: #000 !important;
  border: solid 1px white;
  cursor: pointer;
  border-radius: .5rem;
  margin-bottom: 1rem;
  transition: background-color 0.3s;
  width: 14rem;
  border-radius: 20px;
  height: 3rem; }
  /* line 207, scss/main.scss */
  .course-btn:hover {
    background-color: #fff !important; }

/* line 212, scss/main.scss */
.animate-charcter {
  background-image: linear-gradient(-225deg, #5bbfed 10%, #dc45ed 67%, #fff800 100%);
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: #fff;
  background-clip: text;
  text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 2.5s linear infinite;
  display: inline-block;
  font-size: 2rem; }

@keyframes textclip {
  to {
    background-position: 200% center; } }

/* line 240, scss/main.scss */
footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 1rem;
  margin-top: 5rem; }
  /* line 247, scss/main.scss */
  footer p {
    font-size: 0.9em; }
